<% content_for :page_title do %>
  <%  "Members - View profile and gameplay from sSs member: #{@member.psn_gamertag}" %>
<% end %>


<div class="container push-top">
  <div class="row push-top-bottom ">


    <div class="col-sm-3">

      <% if member_signed_in? %>

        <div class="row">
          <div class="col-sm-12">
            <div class="light-well">

              <%= link_to "Post New Gameplay", new_gameplay_path , class: 'btn btn-primary btn-block'%>

            </div>
          </div>
        </div>

      <% end %>


      <div class="jumbotron">
        <div class="">
          <p class="text-muted">
            sSs Member:
          </p>
          <h2><%= @member.psn_gamertag %></h2>
          <p class="text-muted">
            Location:
          </p>
          <h4><%= @member.location %></h4>

          <p class="text-muted">
            Date Joined:
          </p>
          <h4><%= @member.date_joined %></h4>


          <p class="text-muted">
            Bio:
          </p>
          <h4><%= @member.bio %></h4>

        </div>
        <div class="">

        </div>
      </div>
    </div>



    <div class="col-sm-9">
      <div class="light-well">

        <%= render partial: "gameplays/gameplay", collection: @gameplays %>
        <%= will_paginate @gameplays %>

      </div>
    </div>



  </div>
</div>
